<div class="container text-center">
  <h1>About Page</h1>
  <p>We are DevMatch. Our company focuses on creating an exclusive community
  for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, reprehenderit quo voluptatum soluta voluptatem magni eos omnis repudiandae itaque quia cupiditate hic ipsa aliquam qui iste quod consectetur id ea.</p>
</div>